<h3>条件说明：</h3>
<table class="table-bordered auto mb20">
    <tbody>
        <tr>
            <td class="w200">department</td>
            <td>销服部门，三个部门分别为：GROUP1，GROUP2，GROUP3</td>
            <td>例 department==GROUP1</td>
        </tr>
        <tr>
            <td>order_times</td>
            <td>订购次数</td>
            <td>例 order_times==1</td>
        </tr>
        <tr>
            <td>used_days</td>
            <td>已经使用的天数</td>
            <td>例 used_days&gt;=10</td>
        </tr>
        <tr>
            <td>left_days</td>
            <td>剩余天数</td>
            <td>例 left_days==15</td>
        </tr>
        <tr>
            <td>deadline</td>
            <td>过期时间</td>
            <td>例 deadline==2015-05-07 00:00:00</td>
        </tr>
        <tr>
            <td>item_code</td>
            <td>订购代码</td>
            <td>例 item_code==ts-25811-1</td>
        </tr>
        <tr>
            <td>pay</td>
            <td>付款金额</td>
            <td>例 pay==10000 单位分</td>
        </tr>
        <tr>
            <td>isneed_phone</td>
            <td>是否需要手机号</td>
            <td>例 isneed_phone==true</td>
        </tr>
        <tr>
            <td>cycle</td>
            <td>订购周期</td>
            <td>例 cycle==6</td>
        </tr>
        <tr>
            <td>create_time</td>
            <td>订单创建时间</td>
            <td>例 create_time==2015-05-07 00:00:00</td>
        </tr>
        <tr>
            <td>start_date</td>
            <td>订单开始时间</td>
            <td>例 start_date==2015-05-07 00:00:00</td>
        </tr>
        <tr>
            <td>end_date</td>
            <td>订单结束时间</td>
            <td>例 end_date==2015-05-07 00:00:00</td>
        </tr>
        <tr>
            <td>is_invited</td>
            <td>【积分相关】是否被邀请过</td>
            <td>例 is_invited==true</td>
        </tr>
        <tr>
            <td>is_invited_4shop</td>
            <td>【积分相关】是否被指定店铺的方式邀请过</td>
            <td>例 is_invited_4shop==true</td>
        </tr>
        <tr>
            <td>point</td>
            <td>【积分相关】积分数量</td>
            <td>例 point&gt;5000</td>
        </tr>
        <tr>
            <td>freeze_point_deadline</td>
            <td>【积分相关】保留积分的日期</td>
            <td>例 freeze_point_deadline&gt;2012-05-07 00:00:00</td>
        </tr>
    </tbody>
</table>