<input type="hidden" name="ad_position" value="rightnotice">
<div class="mt10">
    <span class="w60 dib">公告标题：</span>
    <input class="w600" data-rule="require" type="text" name="ad_title" maxlength="50" value="{{ main_ad.ad_title|default:'' }}" placeholder="请输入公告标题">
    <span class="red ml3 f12">*</span>
    <span class="ml20 gray f12">不超过50个汉字</span>
</div>
<div class="mt10">
    <span class="w60 dib">是否显示：</span>
    <div class="switch vn-3 {% if main_ad.ad_display %} on {% endif %}" data-toggle="switch">
        <label class="db"></label>
        <input type="checkbox" name="ad_display" value="1" {% if main_ad.ad_display %} checked="checked" {% endif %}>
    </div>
    <span class="ml20 gray f12">开启后才会在前台显示</span>
</div>
<div class="mt10">
    <span class="w60 dib">有效时间：</span>
    <input class="w140" data-rule="require"  placeholder="请选择开始时间" type="text" value="{{ main_ad.ad_start_time|default:'' }}" name="ad_start_time" ><span class="red ml3 f12">*</span>
    <span class="w40 dib tc">到</span>
    <input class="w140" data-rule="require"  placeholder="请选择结束时间" type="text" value="{{ main_ad.ad_end_time|default:'' }}" name="ad_end_time"><span class="red ml3 f12">*</span>
</div>
<div class="mt10">
    <span class="w60 dib">权&emsp;&emsp;重：</span>
    <input class="w40" data-rule="require range[0,99]" type="text" name="ad_weight" value="{{ main_ad.ad_weight|default:'0' }}"><span class="red ml3 f12">*</span></span>
    <span class="ml20 gray f12">公告可同时显示多条，权重只决定显示顺序，越大顺序越前</span>
</div>
<div class="mt10">
    <span class="w60 dib">公告级别：</span>
    <select name="ad_level" class="w200">
        <option value="">请选择公告级别...</option>
        {% for ad_level in ad_levels %}
        <option value="{{ ad_level.0 }}" {% if ad_level.0 == main_ad.ad_level|add:0  %} selected="selected"  {% endif %}>{{ ad_level.1 }}</option>
        {% endfor %}
    </select>
</div>
<div class="mt10">
    <span class="w60 dib">用户类型：</span>
    {% for ad_user_type in ad_user_types %}
    <input type="checkbox" name="ad_user_type"
            {% if ad_user_type.0 in main_ad.ad_user_type %} checked="checked" {% endif %} value="{{ ad_user_type.0 }}">
            {{ ad_user_type.1 }}&nbsp;&nbsp;
    {% endfor %}
</div>
<div class="mt10">
    <span class="w60 dib">公告链接：</span>
    <input class="w600" type="text" name="ad_url" value="{{ main_ad.ad_url|default:'' }}" placeholder="请输入广告链接">
    <span class="ml20 gray f12">点击广告后，优先访问广告链接；若不填此项，则会在窗口中显示广告内容。</span>
</div>
<div class="mt10 vt">
    <span class="w60 dib vt">公告内容：</span>
    <textarea name="ad_content" placeholder="输入广告内容（html代码和javascript脚本）" class="w1100 h200" style="max-width: 1100px; min-height: 200px; max-height: 300px;">{{ main_ad.ad_content|default:'' }}</textarea>
</div>
<div class="mt20">
    <button type="submit" class="btn btn-success submit">保存</button>
    {% if check_limit %}
    <a href="javascript:;" class="btn btn-primary check_main_ad" check_id="{{ a_id }}">审核</a>
    {% endif %}
    {% if put_out %}
    <a href="javascript:;" class="btn btn-warning put_main_ad" put_id="{{ a_id }}">投放</a>
    {% endif %}
    <a href="../main_ad_manage" class="btn">返回</a>
</div>
