<input type="hidden" name="ad_position" value="servermenu">
<div class="mt10">
    <span class="w60 dib">推广标题：</span>
    <input class="w600" data-rule="require" type="text" name="ad_title" maxlength="8" value="{{ main_ad.ad_title|default:'' }}" placeholder="请输入推广标题">
    <span class="red ml3 f12">*</span>
    <span class="ml20 gray f12">该标题会直接在软件“服务中心”菜单中，不超过8个字符</span>
</div>
<div class="mt10">
    <span class="w60 dib">是否显示：</span>
    <div class="switch vn-3 {% if main_ad.ad_display %} on {% endif %}" data-toggle="switch">
        <label class="db"></label>
        <input type="checkbox" name="ad_display" value="1" {% if main_ad.ad_display %} checked="checked" {% endif %}>
    </div>
    <span class="ml20 gray f12">开启后才会在前台显示</span>
</div>
<div class="mt10">
    <span class="w60 dib">有效时间：</span>
    <input class="w140" data-rule="require"  placeholder="请选择开始时间" type="text" value="{{ main_ad.ad_start_time|default:'' }}" name="ad_start_time" ><span class="red ml3 f12">*</span>
    <span class="w40 dib tc">到</span>
    <input class="w140" data-rule="require"  placeholder="请选择结束时间" type="text" value="{{ main_ad.ad_end_time|default:'' }}" name="ad_end_time"><span class="red ml3 f12">*</span>
</div>
<div class="mt10">
    <span class="w60 dib">权&emsp;&emsp;重：</span>
    <input class="w40" data-rule="require range[0,99]" type="text" name="ad_weight" value="{{ main_ad.ad_weight|default:'0' }}"><span class="red ml3 f12">*</span></span>
    <span class="ml20 gray f12">权重只决定显示顺序，越大顺序越前</span>
</div>

<div class="mt10 vt">
    <span class="w60 dib vt">推广内容：</span>

    <div class="mt20" id="server_menu_editor">
        <div class="editor_wating">
            <img src="/site_media/jl5/images/forecast_orde_ajax.gif">
            <span class="ml5">组件加载中</span>
        </div>
    </div>
    <span class="dib vt red"><i class="iconfont mr5">&#xe659;</i>注意：页面宽度不得超过1280</span>
</div>
<div class="mt20">
    <button type="submit" class="btn btn-success submit">保存</button>
    {% if check_limit %}
    <a href="javascript:;" class="btn btn-primary check_main_ad" check_id="{{ a_id }}">审核</a>
    {% endif %}
    {% if put_out %}
    <a href="javascript:;" class="btn btn-warning put_main_ad" put_id="{{ a_id }}">投放</a>
    {% endif %}
    <a href="../main_ad_manage" class="btn">返回</a>
</div>
