{#utf-8#}{% extends "qnpc_base.html" %}
{% block content %}
    <div class="page page-current" style="color:#aaa;text-align: center;">
        <div style="width:300px;margin:10% auto 0 auto;">
            <img src="/site_media/qnpc6/static/images/limit.png?t=1484904941079" width="300">
        </div>
        <div style="font-size:12px;">{{msg}}</div>
        <div style="margin-top:20px;">
            联系客服：<a href="aliim:sendmsg?uid=cntaobao&siteid=cntaobao&touid=cntaobao派生科技" class="call_wangwang"><img id="wangwang" class="marl_6" style="vertical-align: -4px;" src="/site_media/jl/img/online.ww.gif"></a>
        </div>
    </div>
{%endblock%}
