{#utf-8#}{% extends "base_main.html" %}
{% block title %}服务器内部错误{% endblock %}
{% block content %}
    <div class="error_warp">
        <div class="row">
            <div class="tc">
                <img src="../site_media/static/images/500.png">
                <div class="mt10 f16">您没有该页面访问权限<a href="aliim:sendmsg?uid=cntaobao&amp;siteid=cntaobao&amp;touid=cntaobao派生科技" class="ml20">联系顾问</a></div>
                {%if msg%}<div class="mt10 f12 text-muted">{% autoescape off %}错误信息：{{msg|default:'未知'}}{% endautoescape %}</div>{%endif%}
            </div>
        </div>
    </div>
{% endblock %}
