                <div class="btn-group sub" role="group" aria-label="...">
                    <button class="btn btn-sm btn-default mr10 rel" id="save_as_csv">导出关键词<i class="iconfont f16 ml5">&#xe619;</i></button>
                    <div class="btn-group dropdown" id="show_more_keyword">
                      <button type="button" class="btn btn-sm btn-default" data-toggle="dropdown" >更多数据</button>
                      <div class="dropdown-menu hold-on-click dropdown-table">
                        <ul>
                            <li>
                                <span class="checkbox-inline title">
                                    <input type="checkbox">基础数据
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="impressions">展现量
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="click">点击量
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="ctr">点击率
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="cost">总花费
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="ppc">PPC
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="cpm">千次展现花费
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="avgpos">昨日平均排名
                                </span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span class="checkbox-inline title">
                                    <input type="checkbox">转化数据
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="favcount">收藏量
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="favctr">收藏率
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="favpay">收藏成本
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="carttotal">购物车总数
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="paycount">成交量
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="pay">成交额
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="conv">转化率
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="roi">ROI
                                </span>
                            </li>
                            <li>
                                <span class="checkbox-inline title"></span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="s_favcount">店铺收藏量
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="a_favcount">宝贝收藏量
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="z_paycount">直接成交量
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="j_paycount">间接成交量
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="z_pay">直接成交额
                                </span>
                                <span class="checkbox-inline">
                                    <input type="checkbox" value="j_pay">间接成交额
                                </span>
                            </li>
                    </ul>
                    <ul>
                       <li>
                            <span class="checkbox-inline title">
                                <input type="checkbox">全网数据
                            </span>
                            <span class="checkbox-inline">
                                <input type="checkbox" value="g_pv">全网展现指数
                            </span>
                            <span class="checkbox-inline">
                                <input type="checkbox" value="g_click">全网点击指数
                            </span>
                            <span class="checkbox-inline">
                                <input type="checkbox" value="g_ctr">全网点击率
                            </span>
                            <span class="checkbox-inline">
                                <input type="checkbox" value="g_coverage">全网转化率
                            </span>
                            <span class="checkbox-inline">
                                <input type="checkbox" value="g_roi">全网ROI
                            </span>
                            <span class="checkbox-inline">
                                <input type="checkbox" value="g_cpc">全网市场均价
                            </span>
                            <span class="checkbox-inline">
                                <input type="checkbox" value="g_competition">全网竞争度
                            </span>
                        </li>
                        <li>
                            <span class="checkbox-inline title"></span>
                            <span class="checkbox-inline">
                                <input type="checkbox" value="g_paycount">全网成交指数
                            </span>
                        </li>
                    </ul>
                    <ul>
                       <li>
                            <span class="checkbox-inline title">
                                <input type="checkbox">排名设置
                            </span>
                            <span class="checkbox-inline">
                                <input type="checkbox" value="rank">当前排名
                            </span>
                            <span class="checkbox-inline">
                                <input type="checkbox" value="rob">抢排名
                            </span>
                        </li>
                    </ul>
                    <ul>
                       <li>
                            <span class="checkbox-inline title">
                                <input type="checkbox">其他数据
                            </span>
                            <span class="checkbox-inline">
                                <input type="checkbox" value="qscore">质量得分
                            </span>
                            <span class="checkbox-inline">
                                <input type="checkbox" value="create_days">养词天数
                            </span>
                        </li>
                    </ul>
                    <div>
                        <button type="button" class="btn btn-primary btn-sm">确定</button>
                        <button type="button" class="btn btn-default btn-sm">取消</button>
                    </div>
                  </div>

                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="margin-left:-68px;">
                          <li><a href="javascript:;" id="reset_show_cloumn">恢复默认</a></li>
                        </ul>
                      </div>
                    </div>
                </div>
