{#utf-8#} {% extends "base_main.html" %} {% load rates %} {% block title %}全店核心词{% endblock %} {% block content %}
<section class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/web/web_home">首页</a></li>
        <li class="active">全店核心词</li>
    </ol>
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">×</a> ①全店核心词定义：过去7天全店花费和成交最高的关键词；②系统每7天自动重新分析，最多50个；③店铺核心词可以设置自动抢排名。
    </div>
    <div class="box">
        {% if version_limit %}
            <div class="tc p10" id="version_limit">
                <div class="f16">亲，您订购的版本不支持全店核心词哦，请升级到八引擎版吧！</div>
                <div class="mt10"><a class="btn btn-primary btn-sm ml20" href="/web/upgrade_suggest/" target="_blank">立即升级</a></div>
            </div>
        </div>
        {%else%} {%if condition == "doing" %}
        <div class="tc p10">
            <div class="f16">正在分析核心词，请稍后再来查看或手动刷新该页面（第一次使用时需要下载大量数据，平均每100个宝贝约需要等待6分钟）</div>
        </div>
        {%else%}
        <header class="hide" id="operation_bar">
            <div class="line_box">
                <div class="dtr_picker_warp ml0">
                    <span class="tip" data-toggle="dtr_picker" months="1" id="select_keyword_days">过去七天</span>
                </div>
                <div class="btn-group" id="data_source">
                    <button type="button" class="btn btn-sm btn-primary active" data-source='all'>汇总</button>
                    <button type="button" class="btn btn-sm btn-default" data-source='pc'>计算机</button>
                    <button type="button" class="btn btn-sm btn-default" data-source='mobile'>移动设备</button>
                </div>
                <span class="ml30 pl20">关键词分类：</span>
                <div class="select_warp" id="select_class">
                    <span class="tip" data-toggle="dropdown">不分类</span>
                    <ul class="dropdown-menu">
                        <li data-value="0"><span class="active">不分类</span></li>
                        <li data-value="1"><span>按报表数据分类</span></li>
                        <li data-value="2"><span>按推广计划分类</span></li>
                    </ul>
                </div>
                <span class="ml30">{% if refresh_time %}上次计算核心词日期：{{ refresh_time|date:'Y-m-d' }}{% else %} 正在计算...{% endif %}</span> {% include 'common_keyword_show_more.html' %}
            </div>
            <ul class="tag with-x" id="filter_label">
            </ul>
            <div class="operate">
                <span class="dropdown" id="price_warp">
                    <button class="btn btn-default btn-sm" data-toggle="dropdown" id="change_price">改PC价</button>
                    <div class="dropdown-menu hold-on-click dropdown-table">
                        <h4>批量修改PC出价</h4>
                        <div class="radio">
                            <label>
                                <input type="radio" name="price" checked value="custom">
                                指定出价(不推荐)：<input type="text">&ensp;元
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="price" value="gPrice">
                                使用市场平均出价的：
                                <select class="w60">
                                    <option value=""></option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                    <option value="110">110</option>
                                    <option value="120">120</option>
                                    <option value="130">130</option>
                                    <option value="140">140</option>
                                    <option value="150">150</option>
                                </select>&ensp;%
                            </label>
                        </div>
                        <div class="b lh20">降价：</div>
                        <div class="radio mt5">
                            <label>
                                <input type="radio" name="price" value="yuanDown">
                                根据调价金额：降价<input type="text">&ensp;元
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="price" value="parcentDown">
                                根据调价比例：降价<input type="text">&ensp;%
                            </label>
                        </div>
                        <div class="b lh20">加价：</div>
                        <div class="radio mt5">
                            <label>
                                <input type="radio" name="price" value="yuanUp">
                                根据调价金额：加价<input type="text">&ensp;元
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="price" value="parcentUp">
                                根据调价比例：加价<input type="text">&ensp;%
                            </label>
                        </div>
                        <div class="radio">
                            最高限价：<input type="text" id="price_limit">&ensp;<i class="iconfont" data-toggle="tooltip" data-placement="right" data-trigger="hover" title="当修改的出价大于最高限价时，会使用最高限价作为出价">&#xe628;</i>
                        </div>
                        <div class="lh30">
                            <button type="button" class="btn btn-primary btn-sm">确定</button>
                            <button type="button" class="btn btn-default btn-sm">取消</button>
                        </div>
                    </div>
                </span>
                <span class="dropdown" id="mobile_price_warp">
                    <button class="btn btn-default btn-sm" data-toggle="dropdown" id="mobile_change_price">改移动价</button>
                    <div class="dropdown-menu hold-on-click dropdown-table">
                        <h4>批量修改移动出价</h4>
                        <div class="radio">
                            <label>
                                <input type="radio" name="mobile_price" checked value="custom">
                                指定出价(不推荐)：<input type="text">&ensp;元
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="mobile_price" value="gPrice">
                                使用市场平均出价的：
                                <select class="w60">
                                    <option value=""></option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                    <option value="110">110</option>
                                    <option value="120">120</option>
                                    <option value="130">130</option>
                                    <option value="140">140</option>
                                    <option value="150">150</option>
                                </select>&ensp;%
                            </label>
                        </div>
                        <div class="b lh20">降价：</div>
                        <div class="radio mt5">
                            <label>
                                <input type="radio" name="mobile_price" value="yuanDown">
                                根据调价金额：降价<input type="text">&ensp;元
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="mobile_price" value="parcentDown">
                                根据调价比例：降价<input type="text">&ensp;%
                            </label>
                        </div>
                        <div class="b lh20">加价：</div>
                        <div class="radio mt5">
                            <label>
                                <input type="radio" name="mobile_price" value="yuanUp">
                                根据调价金额：加价<input type="text">&ensp;元
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="mobile_price" value="parcentUp">
                                根据调价比例：加价<input type="text">&ensp;%
                            </label>
                        </div>
                        <div class="radio">
                            最高限价：<input type="text" id="price_limit_mobile">&ensp;<i class="iconfont" data-toggle="tooltip" data-placement="right" data-trigger="hover" title="当修改的出价大于最高限价时，会使用最高限价作为出价">&#xe628;</i>
                        </div>
                        <div class="lh30">
                            <button type="button" class="btn btn-primary btn-sm">确定</button>
                            <button type="button" class="btn btn-default btn-sm">取消</button>
                        </div>
                    </div>
                </span>
                <button class="btn btn-default btn-sm" id="bluk_del">删&emsp;除</button>
                <span class="dropdown" id="match_warp">
                    <button class="btn btn-default btn-sm" data-toggle="dropdown">修改匹配</button>
                    <div class="dropdown-menu hold-on-click dropdown-table">
                        <h4>批量修改匹配</h4>
                        <div class="radio">
                            <label>
                                <input type="radio" name="match_type" checked value="4">
                                广泛匹配
                            </label>
                        </div>
                        <!--<div class="radio">-->
                        <!--<label>-->
                        <!--<input type="radio" name="match_type" value="2">-->
                        <!--中心匹配-->
                        <!--</label>-->
                        <!--</div>-->
                        <div class="radio">
                            <label>
                                <input type="radio" name="match_type" value="1">
                                精确匹配
                            </label>
                        </div>
                        <div class="lh30">
                            <button type="button" class="btn btn-primary btn-sm">确定</button>
                            <button type="button" class="btn btn-default btn-sm">取消</button>
                        </div>
                    </div>
                </span>
                <span class="dropdown" id="forecast_warp">
                                <button class="btn btn-default btn-sm hide" data-toggle="dropdown">批量预估</button>
                    <div class="dropdown-menu hold-on-click dropdown-table">
                        <h4>批量预估</h4>
                        <div>
                            期望排名：
                            <select>
                                <option value="0" selected="selected">第1名</option>
                                <option value="1">第2名</option>
                                <option value="2">第3名</option>
                                <option value="3">第4名</option>
                                <option value="4">第5~12名</option>
                                <option value="5">第1页底部</option>
                                <option value="6">第2页第1名</option>
                                <option value="7">第2页第2名</option>
                                <option value="8">第2页第3名</option>
                                <option value="9">第2页第4名</option>
                                <option value="10">第2页5~12名</option>
                                <option value="11">第2页底部</option>
                                <option value="12">第3页1~6名</option>
                                <option value="13">40名以后</option>
                            </select>
                        </div>
                        <div>出价不高于：<input type="text">&ensp;元</div>
                        <div class="mt10">
                            <button type="button" class="btn btn-primary btn-sm">确定</button>
                            <button type="button" class="btn btn-default btn-sm">取消</button>
                        </div>
                    </div>
                </span>
                <ul class="ul_line select_info">
                    <li class="pr10">已选中(<span class="b" id="checked_num">0</span>)</li>
                    <li class="pr10 select_status tdl poi" mode="0">PC加价(<span class="b" id="up_num">0</span>)</li>
                    <li class="pr10 select_status tdl poi" mode="1">PC降价(<span class="b" id="down_num">0</span>)</li>
                    <li class="pr10 select_status tdl poi" mode="5">移动加价(<span class="b" id="up_mobile_num">0</span>)</li>
                    <li class="pr10 select_status tdl poi" mode="6">移动降价(<span class="b" id="down_mobile_num">0</span>)</li>
                    <li class="pr10 select_status tdl poi" mode="2">删除(<span class="b" id="del_num">0</span>)</li>
                    <li class="pr10 select_status tdl poi" mode="3">匹配(<span class="b" id="match_num">0</span>)</li>
                    <li><button class="btn btn-sm btn-primary" id="submit_keywords">提交到直通车</button></li>
                </ul>
            </div>
        </header>
        <table class="table table-bordered table-hover fix-table mini keyword" id="keyword_table">
            <thead>
                <tr>
                    <th class="choose_column w10">
                        <div class="all">
                            <input type="checkbox">
                        </div>
                    </th>
                    <th class="hidden w0"></th>
                    <th class="w64">宝贝图片</th>
                    <th class="w260 {%if 'keyword' in custom_column %}hide{%endif%}">
                        <div> 关键词(<span class="keywords_count">--</span>个) </div>
                    </th>
                    <th class="w60">
                        <div>PC<br>现出价</div>
                    </th>
                    <th class="w70">
                        <div>PC<br>新出价</div>
                    </th>
                    <th class="w60">
                        <div>移动&ensp;<i class="iconfont" data-toggle="tooltip" data-placement="right" data-trigger="hover" title="移动价格分折扣出价和自定义出价。<br/>折：计算机出价*无线折扣后的价格。<br/>自定义价格即单独无线出价">&#xe628;</i><br>现出价</div>
                    </th>
                    <th class="w70">
                        <div>移动<br>新出价</div>
                    </th>
                    <th class="w200 selectSort {%if 'rank' in custom_column %}hide{%endif%}" data-toggle="selectSort" data-name-list='[["计算机","pc_rank"],["移动","mobile_rank"]]' data-table="keyword_table" data-index="6">
                        <div>PC/移动&ensp;<i class="iconfont" data-toggle="tooltip" data-placement="right" data-trigger="hover" title="<div class='tl'>关键词在PC和移动端的当前实际综合排名(因未考虑地域竞争因素，故不同地区排名可能不同)<br><span class='red'>同时如果账户/计划/宝贝处于下线状态，所有词排名将都是&gt;100</span></div>">&#xe628;</i><br>当前排名
                        <i class="iconfont downicon ml5">&#xe605;</i>
                    </div>
                </th>
                <th class="w140 {%if 'rob' in custom_column %}hide{%endif%}">
                    <div>PC/移动<br/>抢排名</div>
                </th>
                <th class="w80 selectSort {%if 'qscore' in custom_column %}hide{%endif%}" data-toggle="selectSort" data-name-list='[["计算机","pc_qs"],["移动","mobile_qs"]]' data-table="keyword_table" data-index="8">
                    <div>PC/移动&ensp;<br>质量得分&ensp;<i class="iconfont downicon">&#xe605;</i></div>
                </th>
                <th class="aw w40 {%if 'create_days' in custom_column %}hide{%endif%}">
                    <div>养词<br>天数</div>
                </th>
                <th class="aw w60 {%if 'impressions' in custom_column %}hide{%endif%}">
                    <div>展现<br>量</div>
                </th>
                <th class="aw w60 {%if 'click' in custom_column %}hide{%endif%}">
                    <div>点击<br>量</div>
                </th>
                <th class="aw w50 {%if 'ctr' in custom_column %}hide{%endif%}">
                    <div>点击<br>率</div>
                </th>
                <th class="aw w60 {%if 'cost' in custom_column %}hide{%endif%}">
                    <div>总<br>花费</div>
                </th>
                <th class="aw w40 {%if 'ppc' in custom_column %}hide{%endif%}">
                    <div>PPC</div>
                </th>
                <th class="aw w60 {%if 'cpm' in custom_column %}hide{%endif%}">
                    <div>千次展<br>现花费</div>
                </th>
                <th class="aw w60 {%if 'avgpos' in custom_column %}hide{%endif%}">
                    <div>昨日平<br>均排名</div>
                </th>
                <th class="aw w40 {%if 'favcount' in custom_column %}hide{%endif%}">
                    <div>收藏<br>量</div>
                </th>
                <th class="aw w60 {%if 's_favcount' in custom_column %}hide{%endif%}">
                    <div>店铺<br>收藏量</div>
                </th>
                <th class="aw w60 {%if 'a_favcount' in custom_column %}hide{%endif%}">
                    <div>宝贝<br>收藏量</div>
                </th>
                <th class="aw w50 {%if 'favctr' in custom_column %}hide{%endif%}">
                    <div>收藏<br>率</div>
                </th>
                <th class="aw w60 {%if 'favpay' in custom_column %}hide{%endif%}">
                    <div>收藏<br>成本</div>
                </th>
                <th class="aw w50 {%if 'carttotal' in custom_column %}hide{%endif%}">
                    <div>购物车<br>总数</div>
                </th>
                <th class="aw w40 {%if 'paycount' in custom_column %}hide{%endif%}">
                    <div>成交<br>量</div>
                </th>
                <th class="aw w60 {%if 'z_paycount' in custom_column %}hide{%endif%}">
                    <div>直接<br>成交量</div>
                </th>
                <th class="aw w60 {%if 'j_paycount' in custom_column %}hide{%endif%}">
                    <div>间接<br>成交量</div>
                </th>
                <th class="aw w60 {%if 'pay' in custom_column %}hide{%endif%}">
                    <div>成交<br>额</div>
                </th>
                <th class="aw w60 {%if 'z_pay' in custom_column %}hide{%endif%}">
                    <div>直接<br>成交额</div>
                </th>
                <th class="aw w60 {%if 'j_pay' in custom_column %}hide{%endif%}">
                    <div>间接<br>成交额</div>
                </th>
                <th class="aw w50 {%if 'conv' in custom_column %}hide{%endif%}">
                    <div>转化<br>率</div>
                </th>
                <th class="aw w40 {%if 'roi' in custom_column %}hide{%endif%}">
                    <div>ROI</div>
                </th>
                <th class="aw w70 {%if 'g_pv' in custom_column %}hide{%endif%}">
                    <div>全网展<br>现指数</div>
                </th>
                <th class="aw w70 {%if 'g_click' in custom_column %}hide{%endif%}">
                    <div>全网点<br>击指数</div>
                </th>
                <th class="aw w70 {%if 'g_ctr' in custom_column %}hide{%endif%}">
                    <div>全网<br>点击率</div>
                </th>
                <th class="aw w70 {%if 'g_coverage' in custom_column %}hide{%endif%}">
                    <div>全网<br>转化率</div>
                </th>
                <th class="aw w70 {%if 'g_roi' in custom_column %}hide{%endif%}">
                    <div>全网<br>ROI</div>
                </th>
                <th class="aw w70 {%if 'g_cpc' in custom_column %}hide{%endif%}">
                    <div>全网市<br>场均价</div>
                </th>
                <th class="aw w70 {%if 'g_competition' in custom_column %}hide{%endif%}">
                    <div>全网<br>竞争度</div>
                </th>
                <th class="aw w70 {%if 'g_paycount' in custom_column %}hide{%endif%}">
                    <div>全网<br>成交指数</div>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div id="keyword_no_data">
        <h4>您还没有全店核心词的数据，可能是因为您的直通车已暂停没有报表数据</h4>
    </div>
    {%endif%} {%endif%}
</div>
</section>
{%endblock%}
