{#utf-8#}{% extends "base_jl5.html" %}
{% block title %}服务器内部错误{% endblock %}
{% block base_jl5 %}
    <div id="header" class="navbar-static-top">
        <div class="container-fluid">
            <a  href="#"><img class="db l" src="/site_media/jl5/images/logo.png"></a>
        </div>
    </div>
    <div class=" w800 h300 mb40 auto mt100 bg_white bbd">
        <div class="fix mt20">
            <i class="iconfont f250 l ml30">&#xe673;</i><div class=" w500 h24  l ml15 mt40">
                <p class=" f20  mt10"><b class=" f55 ">SORRY</b>发生意外</p>
                <p class=" f55 b  mt30 mb30">服务器出了点错！</p>
                <div class="mt20">
                    <a href="j{%url 'web_home'%}" class="btn ml5 btn-primary" type="button">返回首页</a>
                    <span class="ml10 vn">联系顾问：</span><a class="w_color" href="aliim:sendmsg?uid=cntaobao&amp;siteid=cntaobao&amp;touid=cntaobao派生科技"><img class="marl_6" src="/site_media/jl/img/online.ww.gif"></a>
                </div>
            </div>
        </div>
        <div class="silver pl40">
            {%if msg %}<span>错误信息：</span>{% autoescape off %}{{msg}}{% endautoescape %}{% endif %}
        </div>
    </div>
{% endblock %}