<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="/site_media/qnyd6/plugins/sui-mobile/css/sm.css?t=1484904958842">
        <link rel="stylesheet" href="/site_media/qnyd6/plugins/sui-mobile/css/sm-extend.css?t=1484904958842">
        <link rel="stylesheet" href="/site_media/qnyd6/themes/blue/theme.css?t=1484904958842"/>
    </head>
    <body ng-app="qnyd" ng-controller="qnydCtl">

        {% block content %}{%endblock%}

        <script type="text/javascript" src="/site_media/qnyd6/plugins/zepto/zepto.min.js?t=1484904958842"></script><!--ignore-->
        <script type="text/javascript" src="/site_media/qnyd6/plugins/sui-mobile/js/sm.min.js?t=1484904958842"></script><!--ignore-->
        <script type="text/javascript" src="/site_media/qnyd6/plugins/sui-mobile/js/sm-extend.min.js?t=1484904958842"></script><!--ignore-->
        <script type="text/javascript" src="/site_media/qnyd6/plugins/angular/angular.min.js?t=1484904958842"></script><!--ignore-->
        <script type="text/javascript" src="http://l.tbcdn.cn/apps/top/c/sdk-mobile.js"></script><!--ignore-->
        <script type="text/javascript" src="/site_media/qnyd6/service/app.js?t=1484904958842"></script><!--ignore-->
        {% block js %}{%endblock%}
    </body>
</html>
