@font-face {
    font-family: FZZZHJT;
    src: url('http://cdns.ztcjl.com/site_media/jl5/font/creative/FZZZHJT.ttf') format('truetype');
}

@font-face {
    font-family: FZCHJT;
    src: url('http://cdns.ztcjl.com/site_media/jl5/font/creative/FZCHJT.ttf') format('truetype');
}

@font-face {
    font-family: FZYY;
    src: url('http://cdns.ztcjl.com/site_media/jl5/font/creative/FZYY.ttf') format('truetype');
}

@font-face {
    font-family: IMPACTR;
    src: url('http://cdns.ztcjl.com/site_media/jl5/font/creative/IMPACTR.ttf') format('truetype');
}

@font-face {
    font-family: LTH;
    src: url('http://cdns.ztcjl.com/site_media/jl5/font/creative/LTH.ttf') format('truetype');
}

@font-face {
    font-family: ICON;
    src: url('http://cdns.ztcjl.com/site_media/jl5/font/creative/ICON.ttf') format('truetype');
}

@font-face {
    font-family: HYYYT;
    src: url('http://cdns.ztcjl.com/site_media/jl5/font/creative/HYYYT.ttf') format('truetype');
}

@font-face {
    font-family: LTCH;
    src: url('http://cdns.ztcjl.com/site_media/jl5/font/creative/LTCH.ttf') format('truetype');
}
