<!DOCTYPE html>
<html lang="zh-CN">
	<head>
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	    <meta name="renderer" content="webkit">
	    <meta charset="utf-8" />
		<title>精选应用-开车精灵</title>
	</head>
	<body style="margin:0;">
		<div style="background-image:url(/site_media/jl5/images/ad/ad2_bg.jpg);background-size:cover;">
			<div style="position:relative;width:65%;margin:0 18% 0 17%;">
				<img src="/site_media/jl5/images/ad/ad2_fg.png" style="width:100%;">
				<div style="position:absolute;top:0;width:100%;height:100%;">
					<div style="height:26.6%;"></div>
					<div style="height:9.9%;">
						<a href="http://fuwu.taobao.com/ser/plan/mix_plan_detail.htm?spm=a1z13.2196609.0.0.Zshxi0&planCode=PACK_836440495_141217180436&referer=ts-25811&tracelog=dapei_xqytc" target="_blank" style="float:left;width:45%;height:100%;margin-left:4.7%;"></a>
                        <a href="http://fuwu.taobao.com/ser/plan/mix_plan_detail.htm?spm=a1z13.2196609.0.0.YFcrxT&amp;planCode=PACK_836440495_140508171845&amp;referer=ts-25811&amp;tracelog=dapei_xqytc" target="_blank" style="float:left;width:45%;height:100%;margin-left:2.4%;"></a>
					</div>
					<div style="height:6.1%;"></div>
					<div style="height:10.6%;">
                        <a href="http://fuwu.taobao.com/ser/detail.htm?spm=0.0.0.0.5zTpsQ&service_code=appstore-10687" target="_blank" style="float:left;width:21.5%;height:100%;margin-left:3.7%;"></a>
                        <a href="http://tb.cn/M3MgmRy" target="_blank" style="float:left;width:21.5%;height:100%;margin-left:2.8%;"></a>
                        <a href="http://tb.cn/AOkVlOy" target="_blank" style="float:left;width:21.5%;height:100%;margin-left:2.85%;"></a>
                        <a href="http://tb.cn/zlcPlOy" target="_blank" style="float:left;width:21.5%;height:100%;margin-left:2.95%;"></a>
					</div>
                    <div style="height:5.6%;"></div>
                    <div style="height:10.6%;">
                        <a href="http://tb.cn/8kbflOy" target="_blank" style="float:left;width:21.5%;height:100%;margin-left:3.7%;"></a>
                        <a href="http://tb.cn/wsEJlOy" target="_blank" style="float:left;width:21.5%;height:100%;margin-left:2.8%;"></a>
                        <a href="http://tb.cn/YPwxwfy" target="_blank" style="float:left;width:21.5%;height:100%;margin-left:2.85%;"></a>
                        <a href="http://tb.cn/MHtWlOy" target="_blank" style="float:left;width:21.5%;height:100%;margin-left:2.95%;"></a>
                    </div>
                    <div style="height:5.85%;"></div>
                    <div style="height:10.6%;">
                        <a href="http://tb.cn/WNQplOy" target="_blank" style="float:left;width:21.5%;height:100%;margin-left:3.7%;"></a>
                        <a href="http://tb.cn/uG1WlOy" target="_blank" style="float:left;width:21.5%;height:100%;margin-left:2.8%;"></a>
                        <a href="http://tb.cn/42DWlOy" target="_blank" style="float:left;width:21.5%;height:100%;margin-left:2.85%;"></a>
                        <a href="http://tb.cn/08MGSVy" target="_blank" style="float:left;width:21.5%;height:100%;margin-left:2.95%;"></a>
                    </div>
                    <div style="height:6.1%;"></div>
                    <div style="height:2.85%;">
                        <a href="http://www.taobao.com/webww/ww.php?ver=3&touid=%E5%BC%80%E8%BD%A6%E7%B2%BE%E7%81%B5&siteid=cntaobao&status=2&charset=utf-8" target="_blank" style="float:left;width:5.5%;height:100%;margin-left:47.2%;"></a>
                    </div>
				</div>
			</div>
		</div>
	</body>
</html>
