{#utf-8#}{% extends "base_mainjl5.html" %}
{% load rates %}
{% block title%}
  成长轨迹
{% endblock %}
{% block content %}
<div class="row-fluid ">
	<h2 style="padding-left:30%;">开车精灵 - 成长轨迹</h2>
	<ul class="timeline">
        <li class="row-fluid timeline-year collapse">
            <div class="span6 timeline-date">
                <div class="r baseColor h100 lh100">
                    <span class="f40 b">2015</span> 年
                </div>
                <div class="node"></div>
            </div>
        </li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2015 年</span><br>
                    <span class="f24 b">7</span> 月 <span class="f24 b">22</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">创意优化</div>
                <div class="content w600">
                    <span>针对创意图片可直接添加标签，添加测试创意后支持自动轮换等。</span>
                </div>
            </div>
        </li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2015 年</span><br>
                    <span class="f24 b">5</span> 月 <span class="f24 b">20</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">选词算法优化</div>
                <div class="content w600">
                    <span>优化精准淘词、手工组词、手工加词，选词数量更多、更精准。</span>
                </div>
            </div>
        </li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2015 年</span><br>
                    <span class="f24 b">4</span> 月 <span class="f24 b">15</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">优化会员中心</div>
                <div class="content w600">
                    <span>更多优惠，更好玩，更多特权等着你</span>
                </div>
            </div>
        </li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2015 年</span><br>
                    <span class="f24 b">3</span> 月 <span class="f24 b">14</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">选词算法优化</div>
                <div class="content w600">
                    <span>针对大中小类目进行了选词优化，选词结果更加精准！</span>
                </div>
            </div>
        </li>
        <li class="row-fluid timeline-year collapse">
            <div class="span6 timeline-date">
                <div class="r baseColor h100 lh100">
                    <span class="f40 b">2014</span> 年
                </div>
                <div class="node"></div>
            </div>
        </li>
		<li class="row-fluid hide">
			<div class="span6 timeline-date">
				<div class="r baseColor tr">
					<span>2014 年</span><br>
					<span class="f24 b">12</span> 月 <span class="f24 b">22</span> 日
				</div>
                <div class="node"></div>
			</div>
			<div class="span18 timeline-body">
				<div class="title">你的关注，就是我们的关注！</div>
				<div class="content w600">
					<a href="/site_media/jl5/images/history/20141222.jpg" target="_blank" class="db bdd mb10"><img src="/site_media/jl5/images/history/20141222.jpg"></a>
					<span class='b mr3'>重点关注词</span>回归，关键词列表增加<span class='b ml3'>质量得分详情</span>。
				</div>
			</div>
		</li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2014 年</span><br>
                    <span class="f24 b">11</span> 月 <span class="f24 b">27</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">更多特权 & 更多帮助</div>
                <div class="content w600">
	                <a href="/site_media/jl5/images/history/2014112701.jpg" target="_blank" class="db bdd mb10"><img src="/site_media/jl5/images/history/2014112701.jpg"></a>
	                1. 新增<span class='b ml3'>会员中心</span>，激活会员特权，立即赠送精灵币，更能获得资深推广专员免费店铺诊断！
	                <a href="/site_media/jl5/images/history/2014112702.jpg" target="_blank" class="db bdd mt20 mb10"><img src="/site_media/jl5/images/history/2014112702.jpg"></a>
                    2. 新增<span class='b ml3'>帮助中心</span>，视频、图文结合，手把手教您快速学会使用开车精灵！
                </div>
            </div>
        </li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2014 年</span><br>
                    <span class="f24 b">10</span> 月 <span class="f24 b">21</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">托管升级啦，再也不用担心我的词被删了... TT^TT</div>
                <div class="content w600">
                    <a href="/site_media/jl5/images/history/20141021.jpg" target="_blank"><img src="/site_media/jl5/images/history/20141021.jpg" width="300" class="l mr5"></a>
                    <p>1. 重点托管新增设置项“<span class='b'>只优化价格</span>”，可避免优化中会删除关键词。</p>
                    <p>2. 长尾托管的<span class='b ml3 mr3'>宝贝上限</span>提升至<span class='b ml3 mr3'>500</span>个。</p>
                </div>
            </div>
        </li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2014 年</span><br>
                    <span class="f24 b">9</span> 月 <span class="f24 b">18</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">2015版 震撼上线</div>
                <div class="content w600">
                    <a href="/site_media/jl5/images/history/20140918.jpg" target="_blank" class="db bdd mb10"><img src="/site_media/jl5/images/history/20140918.jpg"></a>
                    广泛采纳2014版广大用户提出的优秀建议，加上全新的<span class='b ml3'>UI设计</span>，更方便的关键词<span class='b ml3 mr3'>自动分类</span>功能、计划宝贝列表<span class='b ml3 mr3'>多维度排序</span>功能，开车精灵2015力求为用户带来更多的惊喜。
                </div>
            </div>
        </li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2014 年</span><br>
                    <span class="f24 b">8</span> 月 <span class="f24 b">25</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">可以设置投放平台了...</div>
                <div class="content w600">
                    <a href="/site_media/jl5/images/history/20140825.jpg" target="_blank" class="r bdd ml5"><img src="/site_media/jl5/images/history/20140825.jpg" width="350"></a>
                    计划宝贝列表新增<span class='b ml3 mr3'>投放平台/时间/地域</span>设置，以及宝贝<span class='b ml3 mr3'>关键词数、创意数</span>的查看按钮。
                </div>
            </div>
        </li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2014 年</span><br>
                    <span class="f24 b">1</span> 月 <span class="f24 b">1</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">金牌淘拍档，就是不一样！！</div>
                <div class="content w600">
                    武汉派生科技荣获“<span class='b'>2014年上半年直通车工具类金牌淘拍档</span>”称号，同时荣获“<span class='b'>阿里妈妈营销拍档软件技术奖</span>”荣誉，成为直通车类目下唯一同时荣获两项大奖的服务商！
                </div>
            </div>
        </li>
        <li class="row-fluid timeline-year collapse">
            <div class="span6 timeline-date">
                <div class="r baseColor h100 lh100">
                    <span class="f40 b">2013</span> 年
                </div>
                <div class="node"></div>
            </div>
        </li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2013 年</span><br>
                    <span class="f24 b">12</span> 月 <span class="f24 b">28</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">2014 全新改版</div>
                <div class="content w600">
                    <a href="/site_media/jl5/images/history/20131228.jpg" target="_blank" class="db bdd mb10"><img src="/site_media/jl5/images/history/20131228.jpg"></a>
                    研发团队正式发布<span class='b ml3'>开车精灵2014版</span>，以全新的用户体验、选词、改价算法呈现给用户，同时发布了<span class='b ml3 mr3'>四引擎、重点托管、标题优化、极速排名</span>等功能，得到了精灵用户的认可。
                </div>
            </div>
        </li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2013 年</span><br>
                    <span class="f24 b">5</span> 月 <span class="f24 b">4</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">韬光养晦</div>
                <div class="content w600">
                    研发团队决定蛰伏半年时间，基于新的架构、新算法打造一个全新的、能够适应于未来几年市场需求的版本。
                </div>
            </div>
        </li>
        <li class="row-fluid timeline-year collapse">
            <div class="span6 timeline-date">
                <div class="r baseColor h100 lh100">
                    <span class="f40 b">2012</span> 年
                </div>
                <div class="node"></div>
            </div>
        </li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2012 年</span><br>
                    <span class="f24 b">8</span> 月 <span class="f24 b">8</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">广撒网（长尾托管前身）</div>
                <div class="content w600">
                    第一版上线后一年之际，开车精灵发布“广撒网”全自动托管功能，成为直通车优化类目第一款同时具备手工优化、全自动托管功能的软件，为开车卖家提供更完整的解决方案。
                </div>
            </div>
        </li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2012 年</span><br>
                    <span class="f24 b">6</span> 月 <span class="f24 b">25</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">批量优化 & 全店优化</div>
                <div class="content w600">
                    发布批量优化、全店优化功能，专门为有经验的用户，提供更加快捷、方便的批量化优化工具。
                </div>
            </div>
        </li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2012 年</span><br>
                    <span class="f24 b">5</span> 月 <span class="f24 b">28</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">王者归来</div>
                <div class="content w600">
                    经过近10个月的等待，开车精灵以全新的功能、架构、算法再次上线，从此正式踏入淘宝ISV大家庭。本次上线的主要亮点功能：智能优化、快速选词、重复词排查、店铺诊断、宝贝分析等；其中智能优化、快速选词的选词器，被同行软件纷纷模仿。
                </div>
            </div>
        </li>
        <li class="row-fluid timeline-year collapse">
            <div class="span6 timeline-date">
                <div class="r baseColor h100 lh100">
                    <span class="f40 b">2011</span> 年
                </div>
                <div class="node"></div>
            </div>
        </li>
        <li class="row-fluid hide">
            <div class="span6 timeline-date">
                <div class="r baseColor tr">
                    <span>2011 年</span><br>
                    <span class="f24 b">8</span> 月 <span class="f24 b">8</span> 日
                </div>
                <div class="node"></div>
            </div>
            <div class="span18 timeline-body">
                <div class="title">初露锋芒</div>
                <div class="content w600">
                    开车精灵第一版上线，成为全淘宝第一款基于淘宝官方数据接口的第三方直通车优化软件，市场反应强烈，但因官方API未正式发布，直通车类目第三方软件规范尚未明确，只上线了一周，精灵被迫下架，从此开始进入了漫长的等待。
                </div>
            </div>
        </li>
	</ul>
</div>
{% endblock %}
{% block custom_js %}
<script>
	jQuery(document).ready(function() {
	  PT.History.init();
	});
</script>
{% endblock %}
</body>
</html>
