{#utf-8#}{% extends "base_ncrm.html" %}
{% load rates %}
{% block title %}运营报表{% endblock %}
{% block extra_style %}
<style>
.hidden {display: none !important;}
</style>
{% endblock %}
{% block content %}
<div class="w1200 auto pt20">
  <div class="bg_white p10 mb20">
    <div>
      <span>统计时间</span>
      <input class="w80 ml5 dib" name="start_date" id="start_date" type="text" value="{{start_date}}"> ~
      <input class="w80 ml5 dib" name="end_date" id="end_date" type="text" value="{{end_date}}">
      <button class="btn btn-primary ml20 w80" id="submit_form">查&nbsp;询</button>
    </div>
  </div>

  <div class="hide">
    <h4>进账统计报表<span class="f12 gray n ml10">进账金额包含未审核的订单金额(不包含未知类型的订单)。</span></h4>
    <div class="ovh ml10">
        <label class="l">
            <input type="checkbox" class="check_all_dpt" checked>全选
        </label>
        {% for value, name_cn in dpt_choices %}
        <label class="l ml10">
            <input type="checkbox" class="check_dpt" value="{{value}}" checked>{{name_cn}}
        </label>
        {% endfor %}
    </div>
    <table class="" id="pay_rpt_table">
      <thead>
        <tr>
          <th class="tl"><div>部门</div></th>
          <th class="tl"><div>维度</div></th>
          <th class="tr"><div>总计</div></th>
          <th class="tr"><div>直通车VIP</div></th>
          <th class="tr"><div>类目专家</div></th>
          <th class="tr"><div>开车精灵</div></th>
          <th class="tr"><div>千牛</div></th>
          <th class="tr"><div>钻展</div></th>
          <th class="tr"><div>店铺装修</div></th>
          <th class="tr"><div>代运营</div></th>
          <th class="tr"><div>seo</div></th>
          <th class="tr"><div>补单</div></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="mt20 hide">
    <h4>退款统计报表
      <span class="f12 gray n ml10">
        <span class="ml3">1、退款金额指退款记录中的总金额，不是分摊金额；</span>
        <span class="ml3">2、举例：服务一部 的 小明 的退款金额，指 「责任部门」是'服务一部'、「服务人」是'小明'的退款总金额。</span>
      </span>
    </h4>
    <div class="ovh ml10">
        <label for="category_selecter_all" class="l">
            <input type="checkbox" value="{{key}}" id="category_selecter_all" checked="true">全选
        </label>
        {% for key, desc in category_list %}
        <label for="category_selecter_{{key}}" class="l ml10">
            <input type="checkbox" value="{{key}}" id="category_selecter_{{key}}" class="category_selecter" checked="true">{{desc}}
        </label>
        {% endfor %}
    </div>
    <div class="ovh ml10">
        <label for="refund_style_selecter_all" class="l">
            <input type="checkbox" id="refund_style_selecter_all" checked="true">全选
        </label>
        {% for key, desc in refund_style_list %}
        <label for="refund_style_selecter_{{key}}" class="l ml10">
            <input type="checkbox" value="{{key}}" id="refund_style_selecter_{{key}}" class="refund_style_selecter" checked="true">{{desc}}
        </label>
        {% endfor %}
    </div>
    <table class="icon_hover_show table-hover" id="refund_rpt_table">
      <thead>
        <tr>
          <th class=""><div>部门<a class="r base_color show_rpt_subdivide_all" href="javascript:;"><i class="iconfont mr5">&#xe61c;</i>详情</a></div></th>
          <th class="tr"><div>差评投诉</div></th>
          <th class="tr"><div>效果问题</div></th>
          <th class="tr"><div>软件缺陷</div></th>
          <th class="tr"><div>活动无理由</div></th>
          <th class="tr"><div>友情赠送</div></th>
          <th class="tr"><div>积分兑换</div></th>
          <th class="tr"><div>总退款额</div></th>
          <th class="tr"><div>总退款量</div></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

</div>

{% endblock %}

{% block template%}
<script id="pay_rpt_table_tr" type="text/html">
  <tr dpt_id="<%=dpt_id%>">
    <td rowspan="3" class="vt"><%=name_cn%><i class="iconfont show_psuser ml5 poi f12">&#xe61c;</i></td>
    <td>订单金额</td>
    <td class="tr"><%=$format(data.total.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(data.ztc_vip.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(data.rjjh.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(data.kcjl.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(data.qn.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(data.zz.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(data.zx.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(data.dyy.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(data.seo.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(data.other.sub_pay, 100, 1, 2)%></td>
  </tr>
  <tr dpt_id="<%=dpt_id%>">
    <td>订单量</td>
    <td class="tr"><%=data.total.sub_count%></td>
    <td class="tr"><%=data.ztc_vip.sub_count%></td>
    <td class="tr"><%=data.rjjh.sub_count%></td>
    <td class="tr"><%=data.kcjl.sub_count%></td>
    <td class="tr"><%=data.qn.sub_count%></td>
    <td class="tr"><%=data.zz.sub_count%></td>
    <td class="tr"><%=data.zx.sub_count%></td>
    <td class="tr"><%=data.dyy.sub_count%></td>
    <td class="tr"><%=data.seo.sub_count%></td>
    <td class="tr"><%=data.other.sub_count%></td>
  </tr>
  <tr dpt_id="<%=dpt_id%>">
    <td>店铺数</td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=data.total.shop_list.join('&nick=')%>" target="_blank"><%=data.total.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=data.ztc_vip.shop_list.join('&nick=')%>" target="_blank"><%=data.ztc_vip.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=data.rjjh.shop_list.join('&nick=')%>" target="_blank"><%=data.rjjh.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=data.kcjl.shop_list.join('&nick=')%>" target="_blank"><%=data.kcjl.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=data.qn.shop_list.join('&nick=')%>" target="_blank"><%=data.qn.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=data.zz.shop_list.join('&nick=')%>" target="_blank"><%=data.zz.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=data.zx.shop_list.join('&nick=')%>" target="_blank"><%=data.zx.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=data.dyy.shop_list.join('&nick=')%>" target="_blank"><%=data.dyy.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=data.seo.shop_list.join('&nick=')%>" target="_blank"><%=data.seo.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=data.other.shop_list.join('&nick=')%>" target="_blank"><%=data.other.shop_list.length%></a>
    </td>
  </tr>
  <%for (var psuser_id in psuser_dict) { %>
  <tr dpt_id="<%=dpt_id%>" psuser_id="<%=psuser_id%>" class="bgf0 hidden">
    <td rowspan="3"class="vt"><%=psuser_dict[psuser_id].name_cn%></td>
    <td>订单金额</td>
    <td class="tr"><%=$format(psuser_dict[psuser_id].data.total.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(psuser_dict[psuser_id].data.ztc_vip.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(psuser_dict[psuser_id].data.rjjh.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(psuser_dict[psuser_id].data.kcjl.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(psuser_dict[psuser_id].data.qn.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(psuser_dict[psuser_id].data.zz.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(psuser_dict[psuser_id].data.zx.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(psuser_dict[psuser_id].data.dyy.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(psuser_dict[psuser_id].data.seo.sub_pay, 100, 1, 2)%></td>
    <td class="tr"><%=$format(psuser_dict[psuser_id].data.other.sub_pay, 100, 1, 2)%></td>
  </tr>
  <tr dpt_id="<%=dpt_id%>" psuser_id="<%=psuser_id%>" class="bgf0 hidden">
    <td>订单量</td>
    <td class="tr"><%=psuser_dict[psuser_id].data.total.sub_count%></td>
    <td class="tr"><%=psuser_dict[psuser_id].data.ztc_vip.sub_count%></td>
    <td class="tr"><%=psuser_dict[psuser_id].data.rjjh.sub_count%></td>
    <td class="tr"><%=psuser_dict[psuser_id].data.kcjl.sub_count%></td>
    <td class="tr"><%=psuser_dict[psuser_id].data.qn.sub_count%></td>
    <td class="tr"><%=psuser_dict[psuser_id].data.zz.sub_count%></td>
    <td class="tr"><%=psuser_dict[psuser_id].data.zx.sub_count%></td>
    <td class="tr"><%=psuser_dict[psuser_id].data.dyy.sub_count%></td>
    <td class="tr"><%=psuser_dict[psuser_id].data.seo.sub_count%></td>
    <td class="tr"><%=psuser_dict[psuser_id].data.other.sub_count%></td>
  </tr>
  <tr dpt_id="<%=dpt_id%>" psuser_id="<%=psuser_id%>" class="bgf0 hidden">
    <td>店铺数</td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=psuser_dict[psuser_id].data.total.shop_list.join('&nick=')%>" target="_blank">
      <%=psuser_dict[psuser_id].data.total.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=psuser_dict[psuser_id].data.ztc_vip.shop_list.join('&nick=')%>" target="_blank">
      <%=psuser_dict[psuser_id].data.ztc_vip.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=psuser_dict[psuser_id].data.rjjh.shop_list.join('&nick=')%>" target="_blank">
      <%=psuser_dict[psuser_id].data.rjjh.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=psuser_dict[psuser_id].data.kcjl.shop_list.join('&nick=')%>" target="_blank">
      <%=psuser_dict[psuser_id].data.kcjl.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=psuser_dict[psuser_id].data.qn.shop_list.join('&nick=')%>" target="_blank">
      <%=psuser_dict[psuser_id].data.qn.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=psuser_dict[psuser_id].data.zz.shop_list.join('&nick=')%>" target="_blank">
      <%=psuser_dict[psuser_id].data.zz.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=psuser_dict[psuser_id].data.zx.shop_list.join('&nick=')%>" target="_blank">
      <%=psuser_dict[psuser_id].data.zx.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=psuser_dict[psuser_id].data.dyy.shop_list.join('&nick=')%>" target="_blank">
      <%=psuser_dict[psuser_id].data.dyy.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=psuser_dict[psuser_id].data.seo.shop_list.join('&nick=')%>" target="_blank">
      <%=psuser_dict[psuser_id].data.seo.shop_list.length%></a>
    </td>
    <td class="tr">
      <a href="/ncrm/myworkbench/?nick=<%=psuser_dict[psuser_id].data.other.shop_list.join('&nick=')%>" target="_blank">
      <%=psuser_dict[psuser_id].data.other.shop_list.length%></a>
    </td>
  </tr>
  <%}%>
</script>

{#<script id="xiaofu_pay_table_tr" type="text/html">#}
{#  <tr id="">#}
{#    <td class="tc"><%=department%>#}
{#      <i class="iconfont show_subdivide hover hide r poi f12 mt4">&#xe61c;</i>#}
{#    </td>#}
{#    <td class="tr"><%=kcjl_paycount%></td>#}
{#    <td class="tr"><%=qn_paycount%></td>#}
{#    <td class="tr"><%=$format(total_pay, 100, 1, 2)%></td>#}
{#  </tr>#}
{#</script>#}
{##}
{#<script id="xiaofu_pay_table_subtr" type="text/html">#}
{#  <tr class="hover_non_color bgf0 hidden">#}
{#    <td class="tr"><%=psuser_name%></td>#}
{#    <td class="tr"><%=kcjl_paycount%></td>#}
{#    <td class="tr"><%=qn_paycount%></td>#}
{#    <td class="tr"><%=$format(total_pay, 100, 1, 2)%></td>#}
{#  </tr>#}
{#</script>#}

<script id="refund_rpt_table_tr" type="text/html">
  <tr id="">
    <td class="tc"><%=department%>
      <i class="iconfont show_subdivide hover hide r poi f12 mt4">&#xe61c;</i>
    </td>
    <td class="tr"><%=$format(refund_reason_dict.rr_1.refund, 100, 1, 2)%></td>
    <td class="tr"><%=$format(refund_reason_dict.rr_2.refund, 100, 1, 2)%></td>
    <td class="tr"><%=$format(refund_reason_dict.rr_3.refund, 100, 1, 2)%></td>
    <td class="tr"><%=$format(refund_reason_dict.rr_4.refund, 100, 1, 2)%></td>
    <td class="tr"><%=$format(refund_reason_dict.rr_5.refund, 100, 1, 2)%></td>
    <td class="tr"><%=$format(refund_reason_dict.rr_6.refund, 100, 1, 2)%></td>
    <td class="tr"><%=$format(total_refund, 100, 1, 2)%></td>
    <td class="tr"><%=total_count%></td>
  </tr>
</script>

<script id="refund_rpt_table_subtr" type="text/html">
  <tr class="hover_non_color bgf0 hidden">
    <td class="tc"><%=psuser_name%></td>
    <td class="tr"><%=$format(refund_reason_dict.rr_1.refund, 100, 1, 2)%></td>
    <td class="tr"><%=$format(refund_reason_dict.rr_2.refund, 100, 1, 2)%></td>
    <td class="tr"><%=$format(refund_reason_dict.rr_3.refund, 100, 1, 2)%></td>
    <td class="tr"><%=$format(refund_reason_dict.rr_4.refund, 100, 1, 2)%></td>
    <td class="tr"><%=$format(refund_reason_dict.rr_5.refund, 100, 1, 2)%></td>
    <td class="tr"><%=$format(refund_reason_dict.rr_6.refund, 100, 1, 2)%></td>
    <td class="tr"><%=$format(total_refund, 100, 1, 2)%></td>
    <td class="tr"><%=total_count%></td>
  </tr>
</script>
{% endblock %}

{% block custom_js %}
<script src="{{'/site_media/jl5/ncrm_js/operating_rpt1.js'|file_time_stamp}}" type="text/javascript"></script>
<script>
$().ready(function(){
    PT.OperatingRpt1.init();
});
</script>
{% endblock %}
