{#utf-8#}{% extends "qnyd_base.html" %}  
{% block title %}服务器内部错误{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="/site_media/assets/css/pages/error.css">
{% endblock %}

{% block content %}
<div class="page-500" style="margin-top:100px;">
    <div class="number error poa mart_0" style="font-size:60px; margin-top:0; line-height:50px;">
        :(
    </div>
    <div class="details" style="padding-left:36px; text-align:left;line-height:20px;">
        <h4>亲，访问数据发生错误，请确认:</h4>
        <div class="large">
            {% autoescape off %}<div style="color:#f00;">{{msg}}</div>{% endautoescape %}
            <div>{%if user.nick%}您的登录名为：{{user.nick}}{%endif%}</div>
            <div>您可以尝试重新登录，或隔一段时间再试，如果问题依旧，请联系管理员，我们将尽快解决<img style="cursor:pointer;" src="/site_media/jl/img/online.ww.gif" class="call_wangwang pointer"></div>
        </div>
    </div>
</div>
{% endblock %} 
