#init_limit_price {width:50px;}
div.checker {line-height:20px;}
input.mini_size {width:50px;}
table.select_keyword th {line-height:30px;}
table.select_keyword td {line-height:20px;}
table.hover_none tr:hover {background:none;}
table.hover_none select {margin-bottom:0;}
.layout-slider {height:50px;}
.layout-slider .series_name {width: 68px;display: inline-block;text-align: right;}
.layout-slider .jslider {display: inline-block;width: 75%;margin-left: 10px;}
.lh_30 {line-height:30px !important;}
.a_td_no {text-decoration:none !important;}
.match_scope {border-radius: 2px !important;background-color: #999;padding: 0 2px;color: #FFF;-webkit-border-radius: 2px !important; cursor: pointer;}
tr.checked_keyword a {font-weight:700;}
tr .recm_keyword {padding: 0 2px;color: #FFF;margin-right:3px;float: right;background-color: #999;-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
tr.checked_keyword .recm_keyword {background-color: yellowgreen;}
a.deleted_keyword {text-decoration:line-through !important;color:#666;background:yellow;}
.tooltips_wrap {width:12px;display:inline-block;font-weight:normal;}

/*精准淘词*/
#div_guess_elemword {border:1px dashed #666;padding:10px;float:left;}
#div_guess_elemword div div {margin: 3px 8px 0 0;float:left;font-weight:700;}
#div_guess_elemword ul {width:495px;list-style:none;margin:0;}
#div_guess_elemword li {padding:1px 5px;margin:2px;float:left;text-align:center;cursor:pointer;}
#div_guess_elemword li:hover, #div_guess_elemword li.active {color:#c00;border:1px solid #c00;margin:1px;}
div.popover {color:#000;font-weight:400;}
.filter_word {margin-left:6px !important;width:80px;}
i.rell_3 {position:relative;left:3px;}
#btn_tao_keyword {margin:11px 0 11px 48px;}
#include_words {width:320px;}

.portlet-title{background-color:#eee; line-height:30px;}
.portlet.box .portlet-title{color:#333 !important; padding:2px 10px; border-bottom:1px solid #ccc;}
#content_wrapper{width:1170px; margin:0 auto;}
#fixed_box_inner .portlet-body{padding:20px !important;}
#table_select_keyword, table th{border-top:none !important;}
#div_selector{padding:10px 30px; width:400px;left:-100px;}
.layout-slider{height:60px;}
#fixed_box{width:1168px;}
#fixed_box_inner.active{position: fixed;width: 1168px;z-index: 105; top:0;}
/*.jslider-pointer{display:none;}*/
.jslider-pointer-to{display:block;}
/*.jslider-value{display:none;}*/
.jslider-value-to{display:block;}
#div_selector{visibility:hidden; display:block; overflow:hidden; height:0;}
.open > #div_selector.dropdown-menu {visibility:visible; height:400px;}

/*手工组词 && 手工加词*/
#div_auto_combine_words, #div_manual_add_words {
	margin:12px 0;
	border:1px solid #ccc;
}
#div_auto_combine_words .word_type, #div_manual_add_words .word_type {
	padding:3px;
	text-align:center;
	background-color:#eee;
	color: #333;
	border: double #ccc;
	border-bottom: none;
	font-weight: bold;
}
#div_auto_combine_words textarea, #div_manual_add_words textarea {
	width:183px;
	height:200px;
	line-height:1.3em;
    border: double #ccc;
	padding:3px;
	resize:none;
}
